/* *************************** CSS GENERALE *************************** */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  font-family: 'Montserrat', sans-serif;
}

main {
  height: calc(100vh - 90px);
  display: flex;
}
/* *************************** CSS NAVBAR *************************** */
nav {
  width:230px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  font-size: 12px;
}
nav h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  padding-bottom: 20px;
}

nav a {
  color: #6C6C6C;
  text-decoration: none;
  font-weight: bold;
}
nav ul li img {
  height: 20px;
  padding-right: 5px;
  vertical-align: middle;
}
nav i {
  font-size: 35px;
  vertical-align: middle;
  padding-right: 5px;
}
#main-logo {
  width: 125px;
  margin: 20px 0;
}
#user-nav img {
  width: 15px;
  margin-right: 5px;
  vertical-align: sub;
}
#user-nav div {
  padding-bottom: 10px;
}
#user-nav div:last-of-type {
  padding-top: 10px;
}
#user-nav div:last-of-type a{
  color: #fff;
}

#user-nav div:last-of-type img{
  background-color: #6c6c6c;
  border-radius: 50%;
}

/* *************************** CSS SEZIONE PRINCIPALE *************************** */
#content-section {
  background-color: #141922;
  height: 100%;
  width: calc(100% - 230px);

}


/* *************************** CSS PLAYER *************************** */
footer{
  background-color: #282828;
  height: 90px;
  overflow: hidden;
}
